<div class="l-grid-row stats">
  <h1>今月の進捗</h1>
  <table>
    <thead>
      <tr>
        <th>新規作成</th>
        <th>処理中</th>
        <th>完了</th>
      </tr>
    </thead>
    <tbody>
      <th>5</th>
      <th>10</th>
      <th>6</th>
    </tbody>
  </table>
</div>
